污慴物㴽⸴⸲ਰ灡湰灯㵥〽ㄮ㌮愊杲湯ⴲ晣楦㴽ㄲ㌮〮愊杲湯ⴲ晣楦戭湩楤杮㵳㈽⸱⸲ਰ獡瑴歯湥㵳㈽〮㔮愊瑴獲㴽ㄲ㐮〮戊捡捫污㵬〽㈮〮戊慥瑵晩汵潳灵㴴㐽ㄮ⸱਱汢慥档㴽⸵⸰ਰ汢湩敫㵲ㄽ㐮挊捡敨潴汯㵳㔽㈮〮挊牥楴楦㴽〲㈲㔮ㄮ⸸਱晣楦㴽⸱㔱〮挊慨獲瑥渭牯慭楬敺㵲㈽〮ㄮਲ汣捩㵫㠽ㄮ㌮挊浯潭浮牡㵫〽㤮ㄮ搊扥杵祰㴽⸱⸶ਰ敤潣慲潴㵲㔽ㄮㄮ搊晥獵摥浸㵬〽㜮ㄮ攊瑮祲潰湩獴㴽⸰਴硥捥瑵湩㵧〽㠮㌮昊獡橴潳獮档浥㵡㈽ㄮ⸵ਲ਼楧摴㵢㐽〮㤮䜊瑩祐桴湯㴽⸳⸱㜲椊湤㵡㌽㌮椊灭牯汴扩洭瑥摡瑡㵡㐽ㄮ⸱਴灩歹牥敮㵬㘽ㄮ⸴ਰ灩瑹潨㵮㠽㐮〮椊祰桴湯札湥瑵汩㵳〽㈮〮椊祰楷杤瑥㵳㜽㜮〮樊摥㵩〽ㄮ⸸਱楊橮㉡㴽⸳⸱ਲ獪湯捳敨慭㴽⸴⸶ਰ番祰整⵲汣敩瑮㴽⸷⸳਴番祰整⵲潣敲㴽⸴〱〮樊灵瑹牥慬ⵢ祰浧湥獴㴽⸰⸲ਲ番祰整汲扡眭摩敧獴㴽⸱⸱ਰ慍歲灵慓敦㴽⸲⸱਱慭灴潬汴扩椭汮湩㵥〽ㄮ㌮洊獩畴敮㴽⸰⸸਴扮汣敩瑮㴽⸰⸶਴扮潣癮牥㵴㘽㔮〮渊晢牯慭㵴㔽㐮〮渊獥⵴獡湹楣㵯ㄽ㔮㔮渊瑯扥潯㵫㘽㐮ㄮਲ畮灭㵹ㄽ㈮⸲਴慰正条湩㵧㈽⸱ਲ਼慰摮獡㴽⸱⸴ਲ慰摮捯楦瑬牥㵳ㄽ㔮〮瀊牡潳㴽⸰⸸ਲ਼数灸捥㵴㐽㠮〮瀊捩汫獥慨敲㴽⸰⸷ਵ楐汬睯㴽⸹⸱਱牰浯瑥敨獵挭楬湥㵴〽ㄮ⸴਱牰浯瑰琭潯歬瑩㴽⸳⸰㤲瀊潲潴畢㵦㌽㈮⸰਱獰瑵汩㴽⸵⸹਱瑰灹潲散獳㴽⸰⸷ਰ異敲攭慶㵬〽㈮㈮瀊慹牲睯㴽⸸⸰ਰ祰灣牡敳㵲㈽㈮਱祰敤正㴽⸰⸷਱祐浧湥獴㴽⸲㈱〮倊浹汰牥㴽⸱⸰਱祰慰獲湩㵧㌽〮㤮瀊特楳瑳湥㵴〽ㄮ⸸਱祰桴湯搭瑡略楴㵬㈽㠮㈮瀊瑹㵺㈽㈰⸲਱祰穴搭灥敲慣楴湯猭楨㵭〽ㄮ〮瀮獯ぴ瀊穹煭㴽㌲ㄮ〮爊煥敵瑳㵳㈽㈮⸸ਰ楲档㴽㈱㐮㐮猊浥敶㵲㈽ㄮ⸳ਰ敓摮吲慲桳㴽⸱⸸ਰ楳㵸ㄽㄮ⸶ਰ浳慭㵰㔽〮〮猊畯獰敩敶㴽⸲⸳⸲潰瑳਱瑳捡⵫慤慴㴽⸰⸲ਰ瑳敲浡楬㵴ㄽㄮ⸰ਰ整浲湩摡㵯〽ㄮ⸵ਰ楴祮獣㉳㴽⸱⸱਱潴汭㴽⸰〱㈮琊潯穬㴽⸰ㄱ㈮琊牯慮潤㴽⸶਱牴楡汴瑥㵳㔽㈮㈮瀮獯ㅴ琊灹湩彧硥整獮潩獮㴽⸴⸲ਰ穴慤慴㴽〲㈲ㄮ琊決捯污㴽⸴ਲ牵汬扩㴳ㄽ㈮⸶ਹ慶楬慤潴獲㴽⸰〲〮眊督摩桴㴽⸰⸲ਵ敷敢据摯湩獧㴽⸰⸵਱楷杤瑥湳敢瑸湥楳湯㴽⸳⸶ਰ楺灰㴽⸳⸸ਰ